<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>MS-Teams</title>
</head>
<body>
 <div id="keepRight">
  <div id="packright">
     <form>
    
        <div id="form-floating">
          <input type="text" class="form-control" id="sender" placeholder="Say your name">
        </div>

        <div id="form-floating">
          <input type="text" class="form-control" id="message" placeholder="Say Hello">
        </div>

        <button id="ok" class="button w-100 btn btn-lg btn-primary" >Send</button>
     </form>
   </div>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
</body>
</html>