#myvideo{
    position: float;
    margin-top: 10px;
    height: 540px;
    width: 510px;
    border: 3px solid rgb(255, 51, 0);
    box-sizing: border-box;
}
#hisvideo{
    position: float;
    margin-top: 10px;
    height: 540px;
    width: 510px;
    border: 3px solid rgb(12, 236, 12);
    box-sizing: border-box;
}
#call{
    margin-left: 20px;
    margin-top: 10px;
    width: 150px;
}
#connect{
    margin-left:20px;
    margin-top: 10px;
    width: 150px;
}
#send{
    width:60px;
    float: right;
}
#message{
    width: 171px;
    height:40px;
}
#connid{
    width:270px;
    margin-top: 10px;
}
#keepRight{
   float:right;
   width:260px;
   bottom:0;
   right:0;
   background-color: rgb(168, 158, 158);

}
#cent{
    padding-left: 400px;
}
.bcolor{
    background-color: black;
}
#audioOnOff{
    margin-left:20px;
    margin-top: 10px;
    margin-right: 20px;
    width: 120px;
}

#videoOnOff{
    margin-left:20px;
    margin-top: 10px;
    width: 120px;
}

#screenShare{
    margin-right:20px;
    margin-top: 10px;
    width: 150px;
}
#downSend{
    margin-top: 580px;
}