#myvideo{
    position: float;
    height: 85vh;
    width: 38vw;
    border: 0.5vw solid rgb(241, 54, 12);
    box-sizing: border-box;
}
#hisvideo{
    position: float;
    height: 85vh;
    width: 38vw;
    border: 0.5vw solid rgb(12, 236, 12);
    box-sizing: border-box;
}
#call{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 7vw;
}
#leave{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 7vw;
}
#lin{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 7vw;
}
#send{
    width:5vw;
    height: 7vh;
    float: right;
}
#message{
    width: 13vw;
    height:7vh;
    border:0.3vw solid blue;
}
#connid{
    width:33.4vw;
    margin-top: 1vh;
}
#keepRight{
   float:right;
   width:20vw;
   bottom:0;
   right:0;
   background-color: rgb(19, 32, 53);

}
#cent{
    padding-left: 400px;
}
.bcolor{
    background-color: black;
}
#audioOnOff{
    margin-left:1vw;
    margin-top: 1vh;
    margin-right: 2vw;
    width: 8vw;
}

#videoOnOff{
    margin-left:1vw;
    margin-top: 1vh;
    width: 8vw;
}

#screenShare{
    margin-right:1vw;
    margin-top: 1vh;
    width: 8vw;
}
#downSend{
    margin-top: 92.8vh;
}

#receivedMessages{

    position:sticky;
}
#canvas{
    border:0.5vw solid violet;
    background-color: white;
}